

.navbar {
    position: relative;
}

.jumbotron {
    padding-top: 1rem;
    background-color: #e2edff;
}

.about {
    background-color: #f3f4f5;
}

body {
    margin-bottom: 0;
}

